@page
@model Shopularity.Public.Pages.IndexModel
<h1>Products:</h1>

@foreach(var item in Model.MyProducts)
{
    <div>
        <h2>@item.Product.Name</h2>
        <p>@item.Product.Description</p>
        <p>Price: @item.Product.Price.ToString("C")</p>
        <p>Category: @item.Category.Name</p>
    </div>
}
