@page
@using Shopularity.Public.Pages
@using Volo.Abp.AspNetCore.Mvc.UI.Bundling.TagHelpers
@using Volo.Abp.AspNetCore.Mvc.UI.Packages.SignalR
@inherits Shopularity.Public.Pages.ShopularityPublicPageBase
@model IndexModel

@section scripts {
<abp-script-bundle name="@typeof(IndexModel).FullName">
    <abp-script src="/Pages/index.js" />
</abp-script-bundle>
}

<div id="ShopularityProductList">
    
</div>
