@using Microsoft.AspNetCore.Mvc.Localization
@using Shopularity.Localization

@inject IHtmlLocalizer<ShopularityResource> L


<div class="dropdown">
    <button class="dropdown-toggle btn btn-primary position-relative"
            data-bs-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
            type="button"
            data-busy-text="Processing..."
            aria-label="Basket"
            style="overflow: visible;">
        <i class="fa fa-shopping-basket"></i>

        <span id="ShopularityBasketCount"
              class="d-none position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
              style="min-width:20px;height:20px;line-height:20px;font-size:.75rem;padding:0 6px;"></span>
    </button>

    <div class="dropdown-menu p-0" id="ShopularityBasket" style="width: 300px">
       
    </div>
</div>

