@using Microsoft.AspNetCore.Mvc.Localization
@using Shopularity.Localization
@inject IHtmlLocalizer<ShopularityResource> L
<a class="btn btn-secondary active" role="button" href="~/Account/Login"><i class="fa fa-sign-in me-1"></i> @L["Login"]</a>
